/* revisar el siguiente enlace */
/* https://developer.mozilla.org/es/docs/Learn/CSS/Building_blocks/Values_and_units */

body{
    font-size: 10px;
}
  
p{
    font-size: 1em;
}

.ems li{/* la em toma la referencia de la medida anterior, es decir, esta heredando de padre a hijo o a las propiedades*/
    font-size: 2em;/*Medidas de ancho*/
    color: red;
}

.exs li{
    font-size: 3ex;/*Medidas de alto*/
    color: blue;
}
  
.rems li{
    font-size: 2rem;
    color: green;
}
